<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h2>会員一覧</h2>
    </div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>会員id </th>
          <th>氏名 </th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      <thead>
      <tbody>
        <% @members.each do |member| %>
        <tr>
          <th><%= member.id %></th>
          <th><%= link_to ( member.last_name + member.first_name), manager_member_path(member) %></th>
          <th><%= member.email %></th>
          <th>
            <% if member.is_deleted == true %>退会
            <% elsif member.is_deleted == false %>有効
            <% else %>
            <% end %>
          </th>
        </tr>
        <% end %>
        </tr></tr>
      </tbody>
    </table>

  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-7">
    <%= paginate @members %>
    </div>
  </div>
</div>