<div class="container">
  <p>ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない⽅も商品の閲覧はできますが、<br>
  購⼊には会員登録が必要になります。</p>
</div>

<h2>新着商品</h2>
  <div class="boxes">
    <div class="box"></div>
      <p>商品名</p>
      <p>¥450</p>
    <div class="box"></div>
      <p>商品名</p>
      <p>¥450</p>
    <div class="box"></div>
      <p>商品名</p>
      <p>¥450</p>
    <div class="box"></div>
      <p>商品名</p>
      <p>¥450</p>
      
  </div>
