<<<<<<< HEAD
<div class="container">
  <p>ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない⽅も商品の閲覧はできますが、<br>
  購⼊には会員登録が必要になります。</p>
=======
<div id="top-visual">
  <div class="top-visual-container">
    <p class="top-visual-text">ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない⽅も商品の閲覧はできますが、<br>
      購⼊には会員登録が必要になります。
    </p>
  </div>
>>>>>>> origin/develop
</div>

<h2>新着商品</h2>
  <div class="new-boxes">
    <div class="new-box">
      <img class="new-box-image" src="/assets/img_sweets01" >
      <p>商品名</p>
      <p>¥450</p>
    </div>
    <div class="new-box">
      <img class="new-box-image" src="/assets/img_sweets09" >
      <p>商品名</p>
      <p>¥450</p>
    </div>
    <div class="new-box">
      <img class="new-box-image" src="/assets/img_sweets06" >
      <p>商品名</p>
      <p>¥450</p>
    </div>
    <div class="new-box">
      <img class="new-box-image" src="/assets/img_sweets10" >
      <p>商品名</p>
      <p>¥450</p>
    </div>
  </div>

  <div>
    <!--<%= link_to "全ての商品を見る >", manager_products_path %>-->
  </div>
