<%= render "layouts/error", obj: @genre %>
<div class="container">
  </br>
  <div class="row">
     <div class="col-lg-1"></div>
     <div class="col-lg-11">
      <h2>ジャンル編集</h2>
     </div>
  </div>

    <h6>ジャンル名</h6>
      <%= form_with model:@genre,url: manager_genre_path, local:true do |f| %>
      <%= f.text_field :name %>　　　
      <%= f.submit '変更を保存', class: 'btn btn-success' %>
      <% end %>
</div>
